*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(168, 214, 255);
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;

}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 15px;
}
.nav a:hover {
   background-color:bisque;
}

#menu-toggle {
    display: none;
}
.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span{
    width: 25px;
    height: 3px;
    background: black;
}

@media (max-width: 768px){
    .menu-icon{
        display: flex;
    }
  
    .nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100% ;
        background: burlywood;
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .nav a{
        padding: 15px 0;
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0,0.5);
    }

    #menu-toggle:checked + .menu-icon + .nav{
        display: flex;
    }


}
