.pm {
  background-color: #c0b2b2;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex: 1;
  border: solid;
  border-width: 2px;
  align-items: center;
  row-gap: 200px;
}

.image{
    height: 50px;
    margin: 20;
}

.word{
   background-color: rgb(77, 151, 216);

}