*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 10vh;
    background-color: rgb(168, 214, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo{
    font-weight: bolder;
    font-size: 20px;
}

.nav a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;

}

.banner{
    height: 15vh;
    background-color: rgb(127, 165, 198);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 55vh;
   display: flex;
}

.sidebar{
    width:20%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-area{
    width:80%;
    background-color: rgb(8, 143, 98);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    height: 20vh;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 768px){

    .header{
       
        flex-direction: column;
        height: auto;
        padding: 10px ;
        
    }
    .nav{
        margin-top: 10px;
    }
    .nav a{
        margin: 0 10px;
    }
    .content{
        flex-direction: column;
        height: auto;
    }
     
    .sidebar,
    .main-area {
        width: 100%;
        height: 200px;
    }


    .banner,
    .footer{
        height: 150px;
    }


}

    

