@import "tailwindcss";
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateX(40px) scale(0.95);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

.animate-toast-in {
  animation: toast-in 0.35s ease-out;
}